<form [formGroup]="form" (ngSubmit)="onSubmit()" class="dynamic-form">
	@if (config.title) {
		<h2>{{ config.title }}</h2>
	}
	
	<div class="form-row">
		@for (field of config.fields; track field.name) {
			<div [class]="getFieldClass(field)">
			@switch (field.type) {
				@case ('checkbox') {
					<mat-checkbox [formControlName]="field.name">
						{{ field.label }}
					</mat-checkbox>
				}
				@case ('dynamic-array') {
					<div class="dynamic-array-field">
						
						@for (itemId of getArrayItems(field.name); track itemId; let i = $index) {
							<div class="array-item">
								<div class="array-item-header">
									<span class="item-title">{{ field.label }} {{ $index + 1 }}</span>
									<button mat-icon-button type="button" (click)="removeArrayItem(field.name, itemId)" 
													class="delete-btn" [disabled]="readonly">
										<mat-icon>close</mat-icon>
									</button>
								</div>
								<div class="form-row dynamic-array-item">
									@for (subField of field.fields || []; track subField.name) {
										<div [class]="getFieldClass(subField)">
											@if (subField.type === 'date') {
												<app-date-field
													[formControlName]="field.name + '_' + itemId + '_' + subField.name"
													[label]="subField.label || ''"
													[required]="!!subField.required"
													[readonly]="!!readonly"
													[disabled]="!!readonly"
													[hint]="subField.hint || ''">
												</app-date-field>
											} @else {
												<mat-form-field appearance="fill" class="full-width" [class.readonly]="readonly">
													<mat-label>{{ subField.label }}{{ subField.required ? ' *' : '' }}</mat-label>
													@switch (subField.type) {
														@case ('select') {
															<mat-select [formControlName]="field.name + '_' + itemId + '_' + subField.name"
																				[disabled]="readonly">
																@for (option of subField.options; track option.value) {
																	<mat-option [value]="option.value">
																		{{ option.label }}
																	</mat-option>
																}
															</mat-select>
														}
														@case ('textarea') {
															<textarea 
																matInput 
																[formControlName]="field.name + '_' + itemId + '_' + subField.name" 
																[placeholder]="subField.placeholder || ''"
																[rows]="subField.rows || 3"
																[readonly]="readonly"
																[disabled]="readonly">
															</textarea>
														}
														@default {
															<input 
																matInput 
																[type]="subField.type" 
																[formControlName]="field.name + '_' + itemId + '_' + subField.name" 
																[placeholder]="subField.placeholder || ''"
																[readonly]="readonly"
																[disabled]="readonly">
														}
													}
													@if (subField.icon) {
														<mat-icon matSuffix>{{ subField.icon }}</mat-icon>
													}
													@if (subField.hint) {
														<mat-hint>{{ subField.hint }}</mat-hint>
													}
												</mat-form-field>
											}
										</div>
									}
								</div>
							</div>
						}
						<button mat-raised-button type="button" (click)="addArrayItem(field.name)" 
										[disabled]="readonly || !canAddArrayItem(field.name)">
							<mat-icon>add</mat-icon>
							Add {{ field.label === 'Skills' ? 'Skill' : field.label }}
						</button>
					</div>
				}
				@case ('date') {
					<app-date-field
						[formControlName]="field.name"
						[label]="field.label || ''"
						[required]="!!field.required"
						[readonly]="!!(readonly || field.readonly)"
						[disabled]="!!(readonly || field.readonly)"
						[hint]="field.hint || ''">
					</app-date-field>
				}
				@default {
					<mat-form-field appearance="fill" class="full-width" [class.readonly]="readonly || !!field.readonly">
						<mat-label>{{ field.label }}{{ field.required ? ' *' : '' }}</mat-label>
						
						@switch (field.type) {
							@case ('select') {
								<mat-select [formControlName]="field.name" [disabled]="readonly || !!field.readonly">
									@for (option of field.options; track option.value) {
										<mat-option [value]="option.value">
											{{ option.label }}
										</mat-option>
									}
								</mat-select>
							}
							@case ('textarea') {
								<textarea 
									matInput 
									[formControlName]="field.name" 
									[placeholder]="field.placeholder || ''"
									[rows]="field.rows || 3"
									[readonly]="readonly || !!field.readonly"
									[disabled]="readonly || !!field.readonly">
								</textarea>
							}
							@case ('number') {
								<input 
									matInput 
									type="number" 
									[formControlName]="field.name" 
									[placeholder]="field.placeholder || ''"
									[readonly]="readonly || !!field.readonly"
									[disabled]="readonly || !!field.readonly">
							}
							@default {
								<input 
									matInput 
									[type]="getInputType(field)" 
									[formControlName]="field.name" 
									[placeholder]="field.placeholder || ''"
									[readonly]="readonly || !!field.readonly"
									[disabled]="readonly || !!field.readonly">
							}
						}
						
						@if (field.icon) {
							<mat-icon matSuffix [class.password-toggle]="field.type === 'password'" 
											(click)="field.type === 'password' ? togglePasswordVisibility() : null">
								{{ field.type === 'password' ? (showPassword() ? 'visibility_off' : 'visibility') : field.icon }}
							</mat-icon>
						}
						
						@if (field.hint) {
							<mat-hint>{{ field.hint }}</mat-hint>
						}
						
						@if (form.get(field.name)?.errors && form.get(field.name)?.touched) {
							<mat-error>{{ getFieldError(field.name) }}</mat-error>
						}
					</mat-form-field>
				}
			}
			</div>
		}
	</div>
	
	<!-- Form Actions Section -->
	<div class="form-actions">
		@if (readonly) {
			<button mat-raised-button color="primary" type="button" (click)="onToggleEdit()" class="edit-btn">
				<mat-icon>edit</mat-icon>
				Edit
			</button>
		} @else {
			@if (config.loading) {
				<button mat-raised-button color="primary" type="submit" [disabled]="true" class="submit-btn">
					<mat-spinner diameter="20"></mat-spinner>
					Saving...
				</button>
			} @else {
				<button mat-raised-button color="primary" type="submit" [disabled]="form.invalid" class="submit-btn">
					{{ config.submitLabel || submitButtonText || 'Save' }}
				</button>
				@if (config.showCancel !== false) {
					<button mat-button type="button" (click)="onToggleEdit()" class="cancel-btn">
						Cancel
					</button>
				}
			}
		}
	</div>

</form>
